* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: gray;
    align-items: center;
}

.container {
    display: flex;
}
